{% extends "template.html" %}
{% block content %}
  <h1>Image Labels</h1>
  <form action="upload_photo" method="POST" enctype="multipart/form-data">
    Upload File: <input type="file" name="file"><br>
    <input type="submit" name="submit" value="Submit">
  </form>
  {% if image_entity %}
    <img src="{{image_entity['image_public_url']}}" width=200 height=200>
    <p>{{image_entity['blob_name']}}</p>
    <p>Labels :
      {% for label in image_entity['gcp_labels'] %}
        <span class="label label-primary">{{label}}</span>
      {% endfor %}
    </p>
    <p>Rekgnition Labels :
      {% for label in image_entity['rek_labels'] %}
        <span class="label label-danger">{{label}}</span>
      {% endfor %}
    </p>
  {% endif %}
{% endblock %}
